*{
  transition: all 0.5s ease-out;
}
.screen{
  width: 100vw;
  height: calc(100vh - 100px);
  font-family: 'Nanum Myeongjo', serif;
}
.card{
  display: flex;
  align-items: center;
  height: 80vh;
  width: 60vw;
  margin: auto;
}
.title {
  height: 50px;
  text-align: center;
}
.comparea{
  border: solid 3px black;
  transition: width 0.6s linear;
  width: 500px;
  margin: auto;
  padding: 50px;
  text-align: center;
}
.comparea:hover { 
  width: 600px; 
  color: red;
}
.post {
  min-height: 200px;
  line-height: 1.2em;
  font-size: 32px;
  text-align: center; 
}
.author{
  padding-bottom: 10px;
}
#new-quote{
  height: 60px;
  width: 200px;
  color: black;
  background-color: white;
  border: solid 1px black;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 22px;
}
#new-quote:hover{
  color: white;
  background-color: black;
}
.twitter{
  position: absolute;
  bottom:10px;
  left: 20px;
}
.yt{
  position: absolute;
  bottom:10px;
  right: 20px;
}
.twitter img{
  height: 50px;
  width: 50px;
}
.yt img{
  height: 50px;
  width: 70px;
}
#player {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100px;
  width: 100px;
}
.paused {
  background-image: url('assets/play.png');
  background-size: cover;
}
.playing {
  background-image: url('assets/pause.png');
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .screen{
    width: 100vw;
    height: 80vh;
    font-family: 'Nanum Myeongjo', serif;
  }
  .card{
    width: 85vw;
  }
  .comparea{
    width: 300px;
    padding: 5px;
  }
  .title {
    font-size: 25px;
  }
  .post {
    padding: 15px;
    min-height: 200px;
    line-height: 1em;
    font-size: 22px;
    text-align: center; 
  }
  #new-quote{
    height: 30px;
    width: 200px;
    color: black;
    background-color: white;
    border: solid 1px black;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .comparea:hover { 
    width: 600px; 
    color: grey;
  }
  .twitter img{
    height: 25px;
    width: 25px;
  }
  .yt img{
    height: 25px;
    width: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .screen{
    width: 100vw;
    height: 80vh;
    font-family: 'Nanum Myeongjo', serif;
  }
  .comparea{
    width: 300px;
    padding: 5px;
  }
  
  .title {
    font-size: 25px;
  }
  .post {
    padding: 15px;
    min-height: 200px;
    line-height: 1em;
    font-size: 22px;
    text-align: center; 
  }
  #new-quote{
    height: 40px;
    width: 200px;
    color: black;
    background-color: white;
    border: solid 1px black;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .twitter img{
    height: 35px;
    width: 35px;
  }
  .yt img{
    height: 35px;
    width: 48px;
  }
}
@media screen and (max-width: 768px) {
  .screen{
    width: 100vw;
    height: 80vh;
    font-family: 'Nanum Myeongjo', serif;
  }
  .comparea{
    width: 300px;
    padding: 5px;
  }
  .comparea:hover { 
    width: 600px; 
    color: grey;
  }
  .title {
    font-size: 30px;
  }
  .post {
    padding: 15px;
    min-height: 200px;
    line-height: 1em;
    font-size: 25px;
    text-align: center; 
  }
  #new-quote{
    height: 40px;
    width: 200px;
    color: black;
    background-color: white;
    border: solid 1px black;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .twitter img{
    height: 35px;
    width: 35px;
  }
  .yt img{
    height: 35px;
    width: 48px;
  }
  #player {
    height: 50px;
    width: 50px;
  }
}
